<h1>Welcome to Book Tracker</h1>
<h3> Keep track of all the books you've bought while traveling</h3>


<%= form_tag signin_path do %>
    <%=






<%= link_to 'New Book', new_book_path %>

<%= link_to 'View Selections', books_path %>
