<%# add navigation links to this file %>


<li class="name"><%= link_to 'Books', books_path %></li>
<li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
<% if @current_user && @current_user.role == 'admin' %>
<li class="name"><%= link_to 'Users', users_path %></li>
    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
	<% else %>
<% end %>

